@theme {
  /* ---------- Text ---------- */
  --color-ct-primary: var(--text-on-primary);
  --color-ct-secondary: var(--text-on-secondary);
  --color-ct-tertiary: var(--text-on-tertiary);
  --color-ct-muted: var(--text-muted);
  --color-ct-disabled: var(--text-disabled);

  --color-ct-inverse: var(--text-inverse);
  --color-ct-inverse-2: var(--text-inverse-2);
  --color-ct-inverse-3: var(--text-inverse-3);
  --color-ct-inverse-4: var(--text-inverse-4);

  --color-ct-on-surface: var(--text-on-surface);
  --color-ct-on-overlay: var(--text-on-overlay);
  --color-ct-on-brand: var(--text-on-brand);
  --color-ct-on-status: var(--text-on-status);

  /* ---------- Icons ---------- */
  --color-ct-icon-primary: var(--icon-primary);
  --color-ct-icon-secondary: var(--icon-secondary);
  --color-ct-icon-tertiary: var(--icon-tertiary);
  --color-ct-icon-muted: var(--icon-muted);
  --color-ct-icon-disabled: var(--icon-disabled);

  --color-ct-icon-inverse: var(--icon-inverse);
  --color-ct-icon-on-surface: var(--icon-on-surface);
  --color-ct-icon-on-overlay: var(--icon-on-overlay);
  --color-ct-icon-on-brand: var(--icon-on-brand);
  --color-ct-icon-on-status: var(--icon-on-status);

  --color-ct-icon-success: var(--icon-success);
  --color-ct-icon-warning: var(--icon-warning);
  --color-ct-icon-info: var(--icon-info);
  --color-ct-icon-error: var(--icon-error);

  /* ---------- Status ---------- */
  --color-ct-status-success: var(--status-success);
  --color-ct-status-warning: var(--status-warning);
  --color-ct-status-info: var(--status-info);
  --color-ct-status-error: var(--status-error);
}
