@layer base {
  :root {
    /* ================= TEXT ================= */
    --text-on-primary: #F9FAFB;
    --text-on-secondary: #D1D5DB;
    --text-on-tertiary: #9CA3AF;
    --text-muted: #6B7280;
    --text-disabled: #4B5563;

    --text-inverse: #111827;
    --text-inverse-2: #474747;
    --text-inverse-2: #727272;
    --text-inverse-4: #9F9F9F;

    --text-on-surface: #F9FAFB;
    --text-on-overlay: #F9FAFB;
    --text-on-brand: #FFFFFF;
    --text-on-status: #FFFFFF;

    /* ================= ICON ================= */
    --icon-primary: #F9FAFB;
    --icon-secondary: #D1D5DB;
    --icon-tertiary: #9CA3AF;
    --icon-muted: #6B7280;
    --icon-disabled: #4B5563;

    --icon-inverse: #111827;
    --icon-on-surface: #F9FAFB;
    --icon-on-overlay: #F9FAFB;
    --icon-on-brand: #FFFFFF;
    --icon-on-status: #FFFFFF;

    --icon-success: #059669;
    --icon-warning: #D97706;
    --icon-info: #2563EB;
    --icon-error: #DC2626;

    /* ================= STATUS SURFACES ================= */
    --status-success: #10B981;
    --status-warning: #F59E0B;
    --status-info: #3B82F6;
    --status-error: #EF4444;
  }
}
